@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
    <link href="~/materialize/css/tabla.css" rel="stylesheet" />
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />